.farmer-search__component {
  margin: 16px;
  
  .farmer-search__form {
    .farmer-search__form__row {
      display: flex;
      justify-content: space-between;

      > .mat-form-field {
        width: calc(50% - 8px);
      }
    }
  }
}
