.farmer-search__component {
  margin: 16px;

  .farmer-search__field {
    display: block;
  }
}

@media (min-width: 768px) {
  .farmer-search__component {
    .farmer-search__form {
      .farmer-search__form__row {
        display: flex;
        justify-content: space-between;

        .farmer-search__field {
          flex-grow: 1;
          margin: 0 8px;
        }

        .farmer-search__field--address {
          flex-grow: 2;
        }
      }
    }
  }
}
